.numberBox {
  display: flex;
  align-items: center;
  justify-content: center;
  

}

.even {
  background-color: rgb(255, 206, 186);
  color: rgb(18, 1, 65);
}

.odd {
  background-color: rgb(244, 217, 221);
  color: rgb(46, 2, 76)
}

.black{

  border-radius: 3px;
  width:55px;
  height: 55px;
  background-color: black;
   
  font-size: xx-large;
 
}